/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333; }

.container-fluid {
  background-image: url(../images/background-md.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }

.content-area {
  color: rgba(255, 255, 255, 0.95);
  padding: 1em;
  background-color: transparent;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5); }

.short-description {
  font-style: italic;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.6); }

.cover-container {
  max-width: 42em; }

svg {
  fill: rgba(255, 255, 255, 0.4);
  width: 2.5em;
  height: 2.5em; }

svg:hover,
svg:focus {
  transform: scale(1.2);
  fill: rgba(255, 255, 255, 0.75); }

@media (min-width: 576px) {
  .container-fluid {
    background-image: url(../images/background-lg.jpg); } }

@media (min-width: 768px) {
  .content-area {
    padding: 1.5rem 3rem 1rem 3rem; } }

@media (min-width: 1200px) {
  .container-fluid {
    background-image: url(../images/background-xl.jpg); }
  h1 {
    font-size: 3em; }
  .short-description {
    font-size: 1.2em; } }
